p{
    color: blue;
    text-decoration: overline;
    font-family: fantasy;
}

|
h1{
    text-decoration: dotted;
    color: green;
}

h2{
    text-decoration: overline;
    color: red;
}

h3{
    text-decoration: underline;
    color: aqua;
}

.blue{
    color: blue;
    text-decoration: overline;
    font-family: 'Courier New', Courier, monospace;
}

.red{
    color: red;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}

#dizajni{
    font-family:fantasy;
}

a:link{
    color: red;
}

a:visited{
    color: green;
}

a:hover{
    color:chartreuse;
    text-decoration: overline;
}

a:active{
    color: purple;
    text-decoration: line-through;
}

